.card {
  width: 300px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 18px;
}

.body {
  padding: 20px;
  color: black;
}

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.skill-name {
  width: 120px;
  font-size: 16px;
  color: black;
}

.skill-level {
  width: 160px;
  height: 10px;
  background-color: #eee;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 20px;
}

.skill-percent-number{
  color: black;
}

.skill-percent1 {
  background-color: #333;
  height: 100%;
  width: 10%;
}

.skill-percent2 {
  background-color: #333;
  height: 100%;
  width: 20%;
}

.skill-percent3 {
  background-color: #333;
  height: 100%;
  width: 30%;
}

.skill-percent4 {
  background-color: #333;
  height: 100%;
  width: 40%;
}

.skill-percent5 {
  background-color: #333;
  height: 100%;
  width: 50%;
}

.skill-percent6 {
  background-color: #333;
  height: 100%;
  width: 60%;
}

.skill-percent7 {
  background-color: #333;
  height: 100%;
  width: 70%;
}

.skill-percent8 {
  background-color: #333;
  height: 100%;
  width: 80%;
}

.skill-percent9 {
  background-color: #333;
  height: 100%;
  width: 90%;
}



.skill-percent-number {
  margin-left: 20px;
  font-size: 16px;
}
