.background {
    width: 300px;
    height: 300px;
    /* background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%); */
    border-radius: 450px;
    transition: all .3s;
    left: 50px;
    top: 30px;
    position: relative;
   }

/* .background:hover {
    box-shadow: 0px 0px 30px 30px rgba(0, 255, 117, 0.30);
   } */


.hexagon-grilled {
    width: 300px;
    height: 300px;
    background-color: #77cce9;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: conic-gradient(from 90deg at 8px 8px,#ffffff 90deg,rgb(4, 148, 231) 0) 0 0/20px 20px;
    transition: all .2s;
  }

/* #hexagon:hover {
    transform: scale(0.90);
    border-radius: 20px;
   } */


  .hexagon {
    width: 300px;
    height: 300px;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: #77cce9;
    transition: all .2s;
    top: 40px;
    left: 40px;
  }



  .hexagon-blocked{
    width: 300px;
    height: 300px;
    background-color: #77cce9;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background: conic-gradient(from 90deg at 8px 8px,#ffffff 90deg,rgb(46, 46, 46) 0) 0 0/20px 20px;
    transition: all .2s;
  }


   