main {
  width: 100%;
  height: 87.5vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5vw;
  text-align: justify;
  gap: 30px;
  flex: 3;
  position: relative; /* Agrega una posición relativa al contenedor */
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url('../../../public/assets/risk_background.jpg') no-repeat center center fixed;
  background-size: cover;
  opacity: 0.25;
  z-index: -1; /* Asegura que el pseudo-elemento esté detrás del contenido */
}

.cascade{
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Logo */

.icono{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

/* Resume */

.resumen{
    width: 500px;
    font-size: 15px;
    margin-bottom: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Boton JUGAR */
  .button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  }

  .button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #37FF8B;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
  }
  
  .hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
  }

  .button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))

  }
/*  */

/* Tuerca */

  .loader {
  width: 48px;
  height: 48px;
  background: #faf8f8;
  display: block;
  margin: 20px auto;
  position: relative;
  box-sizing: border-box;
  animation: rotationBack 1s ease-in-out infinite reverse;
  }

  .loader{
      transition: 1s;
  }

  .loader:hover{
      transition: 1s;
      transform: scale(1.3);
  }

  .loader::before {
  content: '';
  box-sizing: border-box;
  left: 0;
  top: 0;
  transform: rotate(45deg);
  position: absolute;
  width: 48px;
  height: 48px;
  background: #949494;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  .loader::after {
  content: '';
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  background: rgb(0, 0, 0);
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  }

  @keyframes rotationBack {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(-360deg);
  }
  }
/*  */


/* Info */

.info {
  position: relative;
  display: inline-block;
  padding: 0.1rem 1rem;
  color: #fff;
  background-color: #ffffff;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.info:hover {
  background-color: #0069d9;
}

.extra-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0.9rem;
  height: 0.9rem;
  border: 3px solid #fff;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1), 0 0 8px rgba(0, 0, 0, 0.2);
}


/*  */


/* Bottones */

.wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .info:hover,
  .wrapper .info:hover .tooltip,
  .wrapper .info:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .set:hover,
  .wrapper .set:hover .tooltip,
  .wrapper .set:hover .tooltip::before {
    background: #3cbb02;
    color: #fff;
  }
  
  .wrapper .score:hover,
  .wrapper .score:hover .tooltip,
  .wrapper .score:hover .tooltip::before {
    background: #E4405F;
    color: #fff;
  }
  