/* BASIC */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white
}
#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  background-color: #191414;
}

/* UTILITY */

.name {
  color: #1db9ac
}

body {
  font-family: Poppins;
}

.main-content{
  display: flex;
  flex-direction: row;
  flex: 3;
}

/* NAVBAR */

header {
  background: #191414;
  top: 0;
  text-align: center;
  border-bottom: 1px solid #2e2c2c ;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.navbar {
  padding: 10px 50px;
  max-width: 100%;
  max-height: 13vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.logo-display {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.logo-display:hover {
  fill: white;
  color: white;
}

.logo-image {
  width: 10vw;
  height: 10vw;
  margin-bottom: 80%;
}

.title {
  font-weight: 600;
  font-size: 1.7vw;
}

.navbar-links-container {
  display: flex;
  list-style: none;
  gap: 30px;
  flex-direction: column;
}

.navbar-link {
  font-size: 1vw;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.5s ease-in;
}

.navbar-element:hover > .navbar-link  {
  color: #1db9ac
}

/* FOOTER */

/* .footer {
  background-color: #191414;
  border-top: 1px solid #2e2c2c ;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px 0px;
  text-align: center;
}

@media screen and (max-width: 850px) {

  .title {
      font-size: 15px;
  }
  .logo-image {
      width: 27px;
  }

  .navbar-link {
      font-size: 9px;
  }

} */