.Mapa svg {
  width: 900px;
  height: 605px;
}
.Mapa {
  align-items: center;
  filter: brightness(100%);
}

/* .Mapa:hover {
  transition: transform .6s; 
  transform: scale(1.1);
}

.Mapa.A:hover {
  fill: #f00;
  cursor: pointer;
} */

#T1:hover {
  filter: brightness(130%);
}

#T2:hover {
  filter: brightness(130%);
}

#T3:hover {
  filter: brightness(130%);
}

#T4:hover {
  filter: brightness(130%);
}

#T5:hover {
  filter: brightness(130%);
}

#T6:hover {
  filter: brightness(130%);
}

#T7:hover {
  filter: brightness(130%);
}

#T8:hover {
  filter: brightness(130%);
}

#T9:hover {
  filter: brightness(130%);
}

#T10:hover {
  filter: brightness(130%);
}

#T11:hover {
  filter: brightness(130%);
}

#T12:hover {
  filter: brightness(130%);
}

#T13:hover {
  filter: brightness(130%);
}

#T14:hover {
  filter: brightness(130%);
}

#T15:hover {
  filter: brightness(130%);
}

#T16:hover {
  filter: brightness(130%);
}

#T17:hover {
  filter: brightness(130%);
}

#T18:hover {
  filter: brightness(130%);
}

#T19:hover {
  filter: brightness(130%);
}

#T20:hover {
  filter: brightness(130%);
}

#T21:hover {
  filter: brightness(130%);
}

#T22:hover {
  filter: brightness(130%);
}

#T23:hover {
  filter: brightness(130%);
}

#T24:hover {
  filter: brightness(130%);
}

#T25:hover {
  filter: brightness(130%);
}



.cls-1 {
  fill: #e52722;
}

.cls-1, .cls-2, .cls-3, .cls-4, .cls-5, .cls-6, .cls-7, .cls-8, .cls-9, .cls-10, .cls-11, .cls-12, .cls-13, .cls-14, .cls-15, .cls-16, .cls-17, .cls-18, .cls-19, .cls-20, .cls-21, .cls-22, .cls-23, .cls-24, .cls-25, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35 {
  stroke: #1e1e1e;
  stroke-miterlimit: 10;
}

.cls-1, .cls-2, .cls-3, .cls-7, .cls-9, .cls-11, .cls-15, .cls-18, .cls-22, .cls-25 {
  opacity: .75;
  stroke-width: .5px;
}

.cls-2 {
  fill: #a6539b;
}

.cls-36 {
  letter-spacing: 0em;
}

.cls-3 {
  fill: #f3e600;
}

.cls-4 {
  filter: url(#drop-shadow-4);
}

.cls-4, .cls-5, .cls-6, .cls-8, .cls-10, .cls-12, .cls-13, .cls-14, .cls-16, .cls-17, .cls-19, .cls-20, .cls-21, .cls-23, .cls-24, .cls-26, .cls-27, .cls-28, .cls-29, .cls-30, .cls-31, .cls-32, .cls-33, .cls-34, .cls-35 {
  fill: #fbb03b;
  stroke-width: 2px;
}

.cls-5 {
  filter: url(#drop-shadow-11);
}

.cls-6 {
  filter: url(#drop-shadow-6);
}

.cls-37 {
  letter-spacing: -.05em;
}

.cls-7 {
  fill: #f1e511;
}

.cls-8 {
  filter: url(#drop-shadow-2);
}

.cls-9 {
  fill: #40c0f0;
}

.cls-10 {
  filter: url(#drop-shadow-25);
}

.cls-38 {
  letter-spacing: .02em;
}

.cls-11 {
  fill: #66b32e;
}

.cls-39 {
  letter-spacing: 0em;
}

.cls-12 {
  filter: url(#drop-shadow-17);
}

.cls-40 {
  letter-spacing: .01em;
}

.cls-13 {
  filter: url(#drop-shadow-1);
}

.cls-14 {
  filter: url(#drop-shadow-23);
}

.cls-15 {
  fill: #ec671b;
}

.cls-16 {
  filter: url(#drop-shadow-13);
}

.cls-17 {
  filter: url(#drop-shadow-12);
}

.cls-18 {
  fill: #a6529a;
}

.cls-19 {
  filter: url(#drop-shadow-19);
}

.cls-20 {
  filter: url(#drop-shadow-16);
}

.cls-21 {
  filter: url(#drop-shadow-20);
}

.cls-22 {
  fill: #e52421;
}

.cls-41 {
  letter-spacing: 0em;
}

.cls-23 {
  filter: url(#drop-shadow-14);
}

.cls-24 {
  filter: url(#drop-shadow-8);
}

.cls-25 {
  fill: #3ec0f0;
}

.cls-26 {
  filter: url(#drop-shadow-22);
}

.cls-27 {
  filter: url(#drop-shadow-18);
}

.cls-28 {
  filter: url(#drop-shadow-3);
}

.cls-29 {
  filter: url(#drop-shadow-10);
}

.cls-30 {
  filter: url(#drop-shadow-5);
}

.cls-31 {
  filter: url(#drop-shadow-15);
}

.cls-32 {
  filter: url(#drop-shadow-9);
}

.cls-33 {
  filter: url(#drop-shadow-21);
}

.cls-34 {
  filter: url(#drop-shadow-7);
}

.cls-35 {
  filter: url(#drop-shadow-24);
}

.cls-42 {
  letter-spacing: .01em;
}

.cls-43 {
  font-family: FranklinGothic-Demi, 'Franklin Gothic Demi';
  font-size: 26px;
  font-weight: 300;
}

.cls-44 {
  letter-spacing: 0em;
}

.selected polygon{
  stroke-width: 5px; /* Aumenta el grosor del borde a 2 píxeles */
}
